<div class='container flex flex-col items-center'>
  <!-- <div class="w-[300px] text-blue-700 mt-4"> Текущее значение {{counter}}</div>
  <div class='mt-4'>
    <button class="w-[50px] bg-red-500 mr-3" (click)="incr()">++</button>
    <button class="w-[50px] bg-red-500 mr-3" (click)="decr()">--</button>
    <button class="w-[50px] bg-red-500" (click)="rnd()">rnd</button>
  </div>
  <input class='border-black border-2 mt-4' type='text' (input)="setValue($event)">
  <div [ngClass]="{'text-red-700': value}">Вы ввели: {{!value ? 'Ничего' : value}}</div> -->
  <!-- <button class="w-[200px] mr-3 mt-4 mb-3 {{hide ? 'bg-yellow-500' : 'bg-red-500' }}" (click)="hide = !hide">
    {{hide ? 'Скрыть данные' : 'Показать данные'}}
  </button>
  <div *ngIf='hide'>
    <p class='text-green-700' *ngFor="let item of result">Данные с сервера: {{item.name}}</p>
  </div> -->

  <ul class="mt-5">Список дел: 
    <li [ngClass]="{'line-through': item.isCheck, 'text-red-700': item.isCheck}" class="mt-3" *ngFor="let item of toDolist; let i = index">
        {{i+1}}. 
        <input class="checked:bg-yellow-500" [checked]="item.isCheck" (change)="toggle(item)" type="checkbox"/> 
        {{item.task}}
        <button *ngIf='item.isCheck' class="border-black border-2 ml-8" (click)="deleteToDo(i)">Delete Case</button>
    </li>
  </ul>
  <div>
    <input id="input" class="border-black border-2 mt-5" type="text" [(ngModel)] = 'newToDo'>
  </div>
  <div class="mt-5">
    <button (click)="addnewToDo()" class="border-black border-2 bg-purple-700 ml-5">Add to Do</button>
    <button (click)="clearToDoList()" class="border-black border-2 bg-purple-700 ml-5">Clear list</button>
  </div>
  <div class="mt-5">Завершенные дела: {{finishedTasks}}</div>
  <div>Оставшиеся дела: {{activeTasks}}</div>
</div>